{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}

	<h1 class="text-2xl font-bold md:mb-2 text-center">MENTIONS LÉGALES</h1>

	<h2 class="text-base font-bold md:mb-2">Éditeur du site</h2>
	<p class="md:mb-5">GreenVillage
		<br>
		123 Rue de la Musica 12345 Villeverte<br>
		France<br>
		Téléphone : +33 3 35 55 12 34<br>
		E-mail : contact@greenvillage.com<br></p>

	<h2 class="text-base font-bold md:mb-2">Responsable de la publication</h2>
	<p class="md:mb-5">Matthew Joshua Hawkins</p>
	<br>

	<h2 class="text-base font-bold md:mb-2">Hébergeur du site</h2>
	<p class="md:mb-5">
		Nom de l'hébergeur
		<br>
		Adresse de l'hébergeur
		<br>
		Ville, Code postal
		<br>
		Pays
		<br>
	</p>

	<h2 class="text-base font-bold md:mb-2">Propriété intellectuelle</h2>
	<p class="md:mb-5">
		Le contenu de ce site web (textes, images, vidéos, etc.) est la propriété de Green Village ou de ses fournisseurs et est protégé par les lois sur la propriété intellectuelle. Toute reproduction ou utilisation non autorisée de ce contenu est strictement interdite.
		<br>
		Collecte de données personnelles
		<br>
		Les données personnelles collectées sur ce site sont uniquement destinées à un usage interne. Conformément à la loi sur la protection des données, vous disposez d'un droit d'accès, de rectification et de suppression de vos données personnelles. Pour exercer ces droits, veuillez nous contacter à l'adresse e-mail suivante : privacy@greenvillage.com
		<br>
	</p>

	<h2 class="text-base font-bold md:mb-2">Cookies</h2>
	<p class="md:mb-5">Ce site utilise des cookies pour améliorer l'expérience utilisateur. En naviguant sur ce site, vous acceptez l'utilisation de cookies conformément à notre politique de cookies.</p>
	<br>
	<h2 class="text-base font-bold md:mb-2">Liens externes</h2>
	<p class="md:mb-5">Ce site peut contenir des liens vers des sites web externes. Green Village n'est pas responsable du contenu ou des pratiques de confidentialité de ces sites.</p>
	<br>
	<h2 class="text-base font-bold md:mb-2">Droits d'auteur</h2>
	<p class="md:mb-5">Tous droits réservés - Green Village</p>
	<br>

{% endblock %}
