{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente
{% endblock %}

{% block body %}


	<h1 class="text-2xl font-bold md:mb-2 text-center">CONDITIONS GÉNÉRALES DE VENTE</h1>

	<h2 class="text-base font-bold md:mb-2">Champ d'application</h2>
	<p class="md:mb-5">Les présentes conditions générales de vente régissent les relations contractuelles entre Green Village et ses clients dans le cadre de la vente en ligne d'instruments de musique et d'accessoires sur le site web www.greenvillage.com.<br></p>

	<h2 class="text-base font-bold md:mb-2">Produits</h2>
	<p class="md:mb-5">Les produits proposés à la vente sont décrits et présentés avec la plus grande précision possible. Cependant, des variations mineures peuvent exister entre les produits réels et les images présentées en raison de facteurs tels que la résolution des écrans. Les prix affichés sont en euros et sont susceptibles d'être modifiés sans préavis.</p>
	<br>

	<h2 class="text-base font-bold md:mb-2">Commandes</h2>
	<p class="md:mb-5">Les commandes passées sur le site web sont considérées comme une offre d'achat des produits sélectionnés. Green Village se réserve le droit de refuser ou d'annuler toute commande pour des raisons telles que des erreurs de prix ou de stock.</p>

	<h2 class="text-base font-bold md:mb-2">Livraison</h2>
	<p class="md:mb-5">Les frais de livraison et les délais de livraison sont indiqués au moment de la commande. Green Village s'engage à expédier les produits dans les meilleurs délais après réception du paiement.</p>

	<h2 class="text-base font-bold md:mb-2">Paiement</h2>
	<p class="md:mb-5">Les paiements peuvent être effectués par carte de crédit, PayPal ou tout autre moyen de paiement accepté par Green Village. Les paiements sont sécurisés et traités via des services de paiement tiers.</p>

	<h2 class="text-base font-bold md:mb-2">Droit de rétractation</h2>
	<p class="md:mb-5">Les clients disposent d'un délai de rétractation de 14 jours à compter de la réception des produits pour exercer leur droit de rétractation et retourner les produits pour remboursement ou échange, conformément à la législation en vigueur.</p>

	<h2 class="text-base font-bold md:mb-2">Protection des données personnelles</h2>
	<p class="md:mb-5">Les données personnelles des clients sont collectées et traitées conformément à la politique de confidentialité de Green Village. Les clients ont le droit d'accéder, de rectifier ou de supprimer leurs données personnelles en contactant Green Village.</p>

	<h2 class="text-2xl font-bold md:mb-2 text-center">MENTIONS LÉGALES</h2>
	<p class="md:mb-5">
		<span class="font-semibold">Nom de l'entreprise</span>
		: Green Village
		<br>
		<span class="font-semibold">Forme juridique</span>
		: Société à responsabilité limitée (SARL)<br>
		<span class="font-semibold">Adresse du siège social</span>
		: GreenVillage - 123 Rue de la Musica 12345 Villeverte<br>
		<span class="font-semibold">Numéro de téléphone</span>
		:  +33 3 35 55 12 34<br>
		<span class="font-semibold">Adresse e-mail</span>
		: contact@greenvillage.com<br>
		<span class="font-semibold">Directeur de la publication</span>
		: Matthew Joshua Hawkins<br>
		<span class="font-semibold">Numéro d'identification fiscale</span>
		: [Numéro d'identification fiscale de l'entreprise]<br>
		<span class="font-semibold">Numéro d'enregistrement de l'entreprise</span>
		: [Numéro d'enregistrement de l'entreprise]<br>
	</p>


{% endblock %}
