{% extends 'base.html.twig' %}

{% block title %}Hello ConfidentialiteController!
{% endblock %}

{% block body %}


	<h1 class="text-2xl font-bold md:mb-2 text-center">POLITIQUE DE CONFIDENTIALITÉ</h1>

	<p class="md:mb-5">La présente Politique de Confidentialité régit la manière dont Green Village ("nous", "notre" ou "nos") collecte, utilise, conserve et divulgue les informations collectées auprès des utilisateurs (individuellement ou collectivement, "Utilisateurs") du site web www.greenvillage.com ("Site"). Cette politique de confidentialité s'applique au site et à tous les produits et services proposés par Green Village.<br></p>

	<h2 class="text-base font-bold md:mb-2">Collecte d'informations personnelles</h2>
	<p class="md:mb-5">Nous pouvons collecter des informations personnelles auprès des Utilisateurs de différentes manières, y compris, mais sans s'y limiter, lorsque les Utilisateurs visitent notre site, s'inscrivent sur le site, passent une commande, remplissent un formulaire, et en relation avec d'autres activités, services, fonctionnalités ou ressources que nous mettons à disposition sur notre site. Les Utilisateurs peuvent être invités à fournir leur nom, adresse e-mail, adresse postale, numéro de téléphone, informations de carte de crédit et autres informations pertinentes.<br></p>

	<h2 class="text-base font-bold md:mb-2">Utilisation des informations collectées</h2>
	<p>Green Village collecte et utilise les informations personnelles des Utilisateurs à des fins suivantes :</p>
	<ul class="md:mb-5">
		<li class="list-disc">Pour améliorer le service client : Les informations que vous fournissez nous aident à répondre à vos demandes de service client et à vos besoins de manière plus efficace.</li>
		<li class="list-disc">Pour personnaliser l'expérience utilisateur : Nous pouvons utiliser les informations pour comprendre comment nos Utilisateurs utilisent les services et les ressources fournis sur notre site.</li>
		<li class="list-disc">Pour traiter les paiements : Nous pouvons utiliser les informations fournies lors de la commande pour traiter les transactions.</li>
		<li class="list-disc">Pour envoyer des e-mails périodiques : Nous pouvons utiliser l'adresse e-mail pour envoyer des informations et mises à jour relatives à votre commande, des nouvelles de l'entreprise, des mises à jour sur des produits liés, etc.</li>
	</ul>

	<h2 class="text-base font-bold md:mb-2">Protection des informations</h2>
	<p class="md:mb-5">Nous adoptons des pratiques appropriées de collecte, de stockage et de traitement des données et des mesures de sécurité pour protéger contre tout accès non autorisé, altération, divulgation ou destruction de vos informations personnelles, nom d'utilisateur, mot de passe, informations de transaction et données stockées sur notre site.</p>

	<h2 class="text-base font-bold md:mb-2">Partage de vos informations personnelles</h2>
	<p class="md:mb-5">Nous ne vendons, n'échangeons ni ne louons les informations personnelles des Utilisateurs à des tiers. Nous pouvons partager des informations démographiques agrégées et non liées à des informations personnelles identifiables concernant les visiteurs et les Utilisateurs avec nos partenaires commerciaux, affiliés de confiance et annonceurs à des fins décrites ci-dessus.</p>

	<h2 class="text-base font-bold md:mb-2">Conformité aux lois</h2>
	<p class="md:mb-5">Green Village se conforme à toutes les lois et réglementations applicables concernant la protection de la vie privée et la sécurité des données personnelles.</p>

	<h2 class="text-base font-bold md:mb-2">Acceptation de ces termes</h2>
	<p class="md:mb-5">En utilisant ce site, vous acceptez cette politique de confidentialité. Si vous n'acceptez pas cette politique, veuillez ne pas utiliser notre site. Votre utilisation continue du site après la publication de modifications de cette politique sera considérée comme votre acceptation de ces modifications.
		<br>Si vous avez des questions concernant cette politique de confidentialité, les pratiques de ce site, ou vos interactions avec ce site, veuillez nous contacter à l'adresse suivante : contact@greenvillage.com.
		<br><div class="mt-10 text-center">Cette politique de confidentialité a été mise à jour le 15/03/2024.</div>
	</p>

{% endblock %}
